@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black/Roboto-Black.ttf') format('truetype'),
    url('../fonts/Roboto-Black/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fibre';
    src: url('../fonts/Fibre/FibreVintage.eot');
    src: url('../fonts/Fibre/FibreVintage.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Fibre/FibreVintage.woff') format('woff'),
    url('../fonts/Fibre/FibreVintage.ttf') format('truetype'),
    url('../fonts/Fibre/FibreVintage.svg#Fibre') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* COMUNES */
*{border:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin:0;padding:0;}
body{width: 100%; height: 100%; font-family: "Roboto-Regular",sans-serif;}
.button{border-radius: 15px; padding: 20px 50px; display: inline-block; text-decoration: none;}
.logo img, .logo p{display: inline;}
.logo img{width: 80px; opacity: 1;}
.logo p{font-family: "Fibre",sans-serif; color: #ffffff; font-size: 50px; padding-bottom: 10px;}
.visible{display: block !important;}

/* VENTANA MODAL */
.modal {display: none; position: fixed; z-index: 1;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.8);}
.modal-content {background-color: #fefefe; margin: 15% auto;padding: 20px;border: 1px solid #888;width: 60%;}
.modal-header {padding: 2px 16px; text-align: center;}
.modal-header h2{color: #03C04A !important;}
.close {color: #aaa;float: right;font-size: 28px;font-weight: bold; margin-top: -40px;}
.close:hover, .close:focus {color: #ff5252;text-decoration: none;cursor: pointer;}
.modal-body p{text-align: center;}

/* LOGIN */
#login{background: url("../img/login/login-bg-min.jpeg") no-repeat center; background-size: cover;}
#login header{background-color: #000000; opacity: 0.8; max-height: 110px;}
#login header .info-login{float: right;}
#login header .info-login button{float: right;}
#login #content-login{width: 60%; text-align: center;}
#login h1{color: #ffffff; font-family: "Fibre", sans-serif; font-size: 200px;}
#login h2{color: #ffffff; font-family: "Roboto-Black", sans-serif; font-size: 40px; padding-left: 50px; padding-right: 50px;}
#login .button{margin-top: 10px; background-color: transparent;color: #ffffff; font-family: "Roboto-Black", sans-serif; font-size: 18px; border: 1px solid #ffffff; transition: all 1s ease; opacity: 1;}
#login .button:hover{cursor: pointer; background-color: #03C04A; border:0;}
.botones-login li{display: inline;}
#show-login{background-color: transparent;}
#show-login:hover{cursor: pointer;}
#show-singin{background-color: transparent;}
#show-singin:hover{cursor: pointer; }
#login .cajaform{width: 40%; min-height: 300px; border-radius: 20px; margin-left: auto; margin-right: auto; padding: 15px;background-color: #ffffff; background-image:linear-gradient(120deg, rgba(132, 250, 176, 0.7) 0%, rgba(143, 211, 244, 0.7)100%), url('../img/login/form-bg-min.jpg'); background-position: center; background-size: cover;}/*background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%)*/
#login .cajaform h3{font-family: "Roboto-Black", sans-serif; font-size: 30px; color: #ffffff;}
#login .cajaform p{margin-top: 15px;margin-bottom: 15px; color: #ffffff;}
#login-container{text-align: center; margin-top: 15px; display: none;}
#login .cajaform input{width: 80%; height: 40px; margin-bottom: 10px; padding: 10px; border-radius: 5px; background-color: rgba(255, 255, 255, 0.8)}
#login .cajaform .login-submit{margin-top: 10px; background-color: transparent;color: #ffffff; font-family: "Roboto-Black", sans-serif; border: 1px solid #ffffff; transition: all 1s ease; opacity: 1; text-transform: uppercase;}
#login .cajaform .login-submit:hover{cursor: pointer; background-color: #03C04A; border:0;}
#login .error p{width: 60%; margin: 10px auto;padding: 30px; font-size: 25px; color: #ffffff; background-color: #ff5252; border-radius: 5px; text-align: center;}
#singin-container{text-align: center; margin-top: 15px; display: none;}

/* Formulario de contacto*/
#ventanaContacto .cajaform{width: 100%; background-image: none; }
#ventanaContacto .cajaform input{border: 1px solid grey; width: 100%;}
#ventanaContacto .cajaform textarea{border: 1px solid grey; width: 100%; margin-bottom: 10px; padding: 10px; border-radius: 5px;}
#ventanaContacto .cajaform .enviar{margin-right: 5px;}
#ventanaContacto .cajaform .enviar:hover{cursor: pointer; background-color: #03C04A; color: #ffffff; border:0; transition: all 1s ease; opacity: 1;}
#ventanaContacto .cajaform .limpiar:hover{cursor: pointer; background-color: grey; color: #ffffff; border:0; transition: all 1s ease; opacity: 1;}
#ventanaContacto #volver-contact{display: none; text-align: center;}
#ventanaContacto #volver-contact #re-contact{display: block; margin-left: auto; margin-right: auto; border: 1px solid gray; color: gray;}
#ventanaContacto #volver-contact #re-contact:hover{color: #ffffff; border: none;}
/* HEADER */

/* GRID */
.container{width:1200px;padding:0 0 10px 0}
.contenedor > h1 {text-align:center;font-weight:normal;padding:20px 0;font-size:1.5em}
.contenedor > p {clear:both;text-align:center;font-weight:normal;padding:20px 0;font-size:1.1em}
.contenedor > div {padding:10px; float:left;display:inline;border:1px solid #fff;background:#ddd;text-align:center;font-size:0.70em}
.contenedor > div:hover{background:#ccc}

.col-1 {width:8.33% !important;}
.col-2 {width:16.66% !important;}
.col-3 {width:25% !important;}
.col-4 {width:33.33% !important;}
.col-5 {width:41.66% !important;}
.col-6 {width:50% !important;}
.col-7 {width:58.33% !important;}
.col-8 {width:66.66% !important;}
.col-9 {width:75% !important;}
.col-10 {width:83.33% !important;}
.col-11 {width:91.66% !important;}
.col-12 {width:100% !important;}
[class*="col-"] {float: left;padding: 15px;}
.row:after{content: "";clear: both;display: block;}

/* RESPONSIVE */
/* Media queries */
/*
  ##Device = Desktops
*/

@media (min-width: 1281px) {
    .col-xl-1 {width:8.33%}
    .col-xl-2 {width:16.66%}
    .col-xl-3 {width:25%}
    .col-xl-4 {width:33.33%}
    .col-xl-5 {width:41.66%}
    .col-xl-6 {width:50%}
    .col-xl-7 {width:58.33%}
    .col-xl-8 {width:66.66%}
    .col-xl-9 {width:75%}
    .col-xl-10 {width:83.33%}
    .col-xl-11 {width:91.66%}
    .col-xl-12 {width:100%}
}

/*
  ##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .container{width:960px;margin:0 auto;}
    .col-lg-1 {width:8.33%}
    .col-lg-2 {width:16.66%}
    .col-lg-3 {width:25%}
    .col-lg-4 {width:33.33%}
    .col-lg-5 {width:41.66%}
    .col-lg-6 {width:50%}
    .col-lg-7 {width:58.33%}
    .col-lg-8 {width:66.66%}
    .col-lg-9 {width:75%}
    .col-lg-10 {width:83.33%}
    .col-lg-11 {width:91.66%}
    .col-lg-12 {width:100%}

}

/*
  ##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .col-l-1 {width:8.33%}
    .col-l-2 {width:16.66%}
    .col-l-3 {width:25%}
    .col-l-4 {width:33.33%}
    .col-l-5 {width:41.66%}
    .col-l-6 {width:50%}
    .col-l-7 {width:58.33%}
    .col-l-8 {width:66.66%}
    .col-l-9 {width:75%}
    .col-l-10 {width:83.33%}
    .col-l-11 {width:91.66%}
    .col-l-12 {width:100%}
}

/*
  ##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .col-md-1 {width:8.33%}
    .col-md-2 {width:16.66%}
    .col-md-3 {width:25%}
    .col-md-4 {width:33.33%}
    .col-md-5 {width:41.66%}
    .col-md-6 {width:50%}
    .col-md-7 {width:58.33%}
    .col-md-8 {width:66.66%}
    .col-md-9 {width:75%}
    .col-md-10 {width:83.33%}
    .col-md-11 {width:91.66%}
    .col-md-12 {width:100%}

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
    .container{width:480px;margin:0 auto;}
    .col-sm-1 {width:8.33%}
    .col-sm-2 {width:16.66%}
    .col-sm-3 {width:25%}
    .col-sm-4 {width:33.33%}
    .col-sm-5 {width:41.66%}
    .col-sm-6 {width:50%}
    .col-sm-7 {width:58.33%}
    .col-sm-8 {width:66.66%}
    .col-sm-9 {width:75%}
    .col-sm-10 {width:83.33%}
    .col-sm-11 {width:91.66%}
    .col-sm-12 {width:100%}

}

/*
  ##Device = Smartphone mobile
*/

@media (min-width: 320px) and (max-width: 480px) {
    .container{width:320px;margin:0 auto;}
    div[class*='col-'] {width:100% !important;}
    .hidden-xs{display:none;}

}
