@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black/Roboto-Black.ttf') format('truetype'),
    url('../fonts/Roboto-Black/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fibre';
    src: url('../fonts/Fibre/FibreVintage.eot');
    src: url('../fonts/Fibre/FibreVintage.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Fibre/FibreVintage.woff') format('woff'),
    url('../fonts/Fibre/FibreVintage.ttf') format('truetype'),
    url('../fonts/Fibre/FibreVintage.svg#Fibre') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* COMUNES */
*{border:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin:0;padding:0;}
html , body{width: 100%; height: 100%; font-family: "Roboto-Regular",sans-serif;}
.button{border-radius: 15px; padding: 20px 50px; display: inline-block; text-decoration: none;}
.logo img, .logo p{display: inline;}
.logo img{width: 80px; opacity: 1;}
.logo p{font-family: "Fibre",sans-serif; color: #ffffff; font-size: 50px; padding-bottom: 10px;}
.visible{display: block !important;}
.visible-xs{display: none;}
.limpiar{clear: both;}

/* VENTANA MODAL */
.modal {display: none; position: fixed; z-index: 1;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.8);}
.modal-content {background-color: #fefefe; margin: 15% auto;padding: 20px;border: 1px solid #888;width: 60%;}
.modal-header {padding: 2px 16px; text-align: center;}
.modal-header h2{color: #1EB250 !important;}
.close {color: #aaa;float: right;font-size: 28px;font-weight: bold; margin-top: -40px;}
.close:hover, .close:focus {color: #ff5252;text-decoration: none;cursor: pointer;}
.modal-body p{text-align: center;}

/* HEADER */
header{background-color: #000000; width: 100%;}
header a{text-decoration: none;}
header #nav-button{display: block; margin: 20px auto 0 auto; background: none; border: none; color: #ffffff; font-size: 25px; font-family: "Roboto-Black", sans-serif; transition: all 0.8s ease;}
header #nav-button i{margin-right: 5px;}
header #nav-button:hover{transform:scale(1.25); cursor: pointer;}
header #logout{display: block; float: right; background: none; border: none; color: #ffffff; font-size: 25px;overflow:hidden;}
header #logout:hover{cursor: pointer;}

/* FOOTER */
footer{background-color: #000000; width: 100%; color: #ffffff;}
footer ul{list-style: none;}
footer .logo{margin-bottom: 10px;}
footer .share-footer{text-align: center;}
footer #redes-footer li{display: inline-block; margin-right: 15px; margin-left: 15px;}
footer #redes-footer li a{display: block; width: 60px; height: 55px;}
footer #redes-footer li .facebook{  background-image: url("/img/commons/face-nocolor.png"); background-size: cover; background-repeat: no-repeat;}
footer #redes-footer li .facebook:hover{  background-image: url("/img/commons/face-color.png"); background-size: cover; background-repeat: no-repeat;}
footer #redes-footer li .twitter{ background-image: url("/img/commons/twit-nocolor.png"); background-size: cover; background-repeat: no-repeat;}
footer #redes-footer li .twitter:hover{ background-image: url("/img/commons/twit-color.png"); background-size: cover; background-repeat: no-repeat;}
footer #redes-footer li .instagram{ background-image: url("/img/commons/insta-nocolor.png"); background-size: cover; background-repeat: no-repeat;}
footer #redes-footer li .instagram:hover{ background-image: url("/img/commons/insta-color.png"); background-size: cover; background-repeat: no-repeat;}
footer .more-info-footer{text-align: center; }
footer .more-info-footer a{color: #ffffff; text-decoration: none;}
footer .more-info-footer a:hover{opacity: 0.6; color: #1EB250;}
footer #aviso-legal{text-align: center; background-color: #757575; color: #ffffff; font-style: italic;}
footer #aviso-legal a{color: #ffffff; text-decoration: none; font-style: italic;}
footer #aviso-legal a:hover{opacity: 0.6; color: #1EB250;}
/* MENU NAV */
#navMenu{display: none; text-align: center; background-color: #000000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: 10000 !important;}
#navMenu #cerrar-nav-button{ font-size: 20px; transition: all 0.6s ease}
#navMenu #cerrar-nav-button:hover{cursor: pointer; opacity: 0.7;}
#navMenu #cerrar-nav-button i{margin-right: 5px;}
#navMenu .container-nav{padding-top: 100px; padding-bottom: 100px;}
#navMenu .container-nav #enlaces-menu{list-style: none;}
#navMenu .container-nav #enlaces-menu li{margin-top: 30px;}
#navMenu .container-nav #enlaces-menu li a{font-family: "Roboto-Black", sans-serif; font-size: 40px; color: #ffffff; text-decoration: none;}
#navMenu .container-nav #redes-menu{margin-top: 50px; list-style: none;}
#navMenu .container-nav #redes-menu li{display: inline-block; margin-right: 15px; margin-left: 15px;}
#navMenu .container-nav #redes-menu li a{display: block; width: 60px; height: 55px;}
#navMenu .container-nav #redes-menu li .facebook{  background-image: url("/img/commons/face-nocolor.png"); background-size: cover; background-repeat: no-repeat;}
#navMenu .container-nav #redes-menu li .facebook:hover{  background-image: url("/img/commons/face-color.png"); background-size: cover; background-repeat: no-repeat;}
#navMenu .container-nav #redes-menu li .twitter{ background-image: url("/img/commons/twit-nocolor.png"); background-size: cover; background-repeat: no-repeat;}
#navMenu .container-nav #redes-menu li .twitter:hover{ background-image: url("/img/commons/twit-color.png"); background-size: cover; background-repeat: no-repeat;}
#navMenu .container-nav #redes-menu li .instagram{ background-image: url("/img/commons/insta-nocolor.png"); background-size: cover; background-repeat: no-repeat;}
#navMenu .container-nav #redes-menu li .instagram:hover{ background-image: url("/img/commons/insta-color.png"); background-size: cover; background-repeat: no-repeat;}
/* LOGIN */
#login{background: url("../img/login/login-bg-min.jpeg") no-repeat center; background-size: cover;}
#login header{background-color: #000000; opacity: 0.8;}
#login header .info-login{float: right;}
#login header .info-login button{float: right;}
#login #content-login{width: 60%; text-align: center;}
#login h1{color: #ffffff; font-family: "Fibre", sans-serif; font-size: 200px;}
#login h2{color: #ffffff; font-family: "Roboto-Black", sans-serif; font-size: 40px; padding-left: 50px; padding-right: 50px;}
#login .button{margin-top: 10px; background-color: transparent;color: #ffffff; font-family: "Roboto-Black", sans-serif; font-size: 18px; border: 1px solid #ffffff; transition: all 1s ease; opacity: 1;}
#login .button:hover{cursor: pointer; background-color: #1EB250; border:0;}
.botones-login li{display: inline;}
#show-login{background-color: transparent;}
#show-login:hover{cursor: pointer;}
#show-singin{background-color: transparent;}
#show-singin:hover{cursor: pointer; }
#login .cajaform{width: 40%; min-height: 300px; border-radius: 20px; margin-left: auto; margin-right: auto; padding: 15px;background-color: #ffffff; background-image:linear-gradient(120deg, rgba(132, 250, 176, 0.7) 0%, rgba(143, 211, 244, 0.7)100%), url('../img/login/form-bg-min.jpg'); background-position: center; background-size: cover;}/*background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%)*/
#login .cajaform h3{font-family: "Roboto-Black", sans-serif; font-size: 30px; color: #ffffff;}
#login .cajaform p{margin-top: 15px;margin-bottom: 15px; color: #ffffff;}
#login-container{text-align: center; margin-top: 15px; display: none;}
#login .cajaform input{width: 80%; height: 40px; margin-bottom: 10px; padding: 10px; border-radius: 5px; background-color: rgba(255, 255, 255, 0.8)}
#login .cajaform .login-submit{margin-top: 10px; background-color: transparent;color: #ffffff; font-family: "Roboto-Black", sans-serif; border: 1px solid #ffffff; transition: all 1s ease; opacity: 1; text-transform: uppercase;}
#login .cajaform .login-submit:hover{cursor: pointer; background-color: #1EB250; border:0;}
#login .error p{width: 60%; margin: 10px auto;padding: 30px; font-size: 25px; color: #ffffff; background-color: #ff5252; border-radius: 5px; text-align: center;}
#singin-container{text-align: center; margin-top: 15px; display: none;}

/* PERFIL */

/*#profile .profile-banner{height: 192px; background-image: url("/img/perfil/user-info-bg-min.jpeg"); background-size: cover; background-repeat: no-repeat;}*/
#profile .profile-banner{height: 192px; background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);}
#profile .profile-banner .profile-img{margin-top: 50px;}
#profile .profile-banner .profile-img img{display: inline-block; width: 96px; height: auto;}
#profile .profile-banner .profile-img h1{display: inline; font-family: "Roboto-Black", sans-serif; font-size: 50px;}
#profile .datos-usuario{margin-top: 15px; margin-bottom: 15px;}
#profile .datos-usuario h2{font-family: "Roboto-Black", sans-serif; font-size: 30px; color: #1EB250; text-align: center;}
#profile .datos-usuario .listado-datos ul{list-style-image: url("/img/perfil/arrow-list.png"); margin-left: 30px;}
#profile .datos-usuario .listado-datos ul li{font-size: 18px; margin-bottom: 5px;}
#profile .datos-usuario .listado-datos hr{height: 2px; background-color: #000000; margin-top: 10px;margin-bottom: 10px;}
#profile .datos-usuario .button{display: block; border: 1px solid #1EB250; margin: 15px; color: #1EB250; text-align: center; transition: all 1s ease;}
#profile .datos-usuario .button:hover{background-color: #1EB250; color: #ffffff;}
#profile .progreso h2{font-family: "Roboto-Black", sans-serif; font-size: 30px; color: #1EB250; text-align: center;}
#profile .progreso .pactual{float: left;}
#profile .progreso .pobjetivo{float: right;}
#profile .actualiza-peso h3{font-family: "Roboto-Black", sans-serif; font-size: 30px; color: #1EB250; text-align: center;}
#profile .actualiza-peso p{text-align: center;}
#profile .actualiza-peso .inputPeso{width: 60%; height: 40px; margin-left: 15%; margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid grey; background-color: rgba(255, 255, 255, 0.8); -webkit-appearance: none; -moz-appearance:textfield;}
#profile .actualiza-peso .weight-submit{width: 20%; height: 40px; margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid grey; color: #ffffff; background-color: #1EB250;}

/* FORMULARIO CALCULO DE DATOS */
#form_datos h1{ text-align: center; font-size: 50px; color: #1EB250; font-family: "Roboto-Black", sans-serif;}
@keyframes click-wave {
    0% {height: 20px;width: 20px;opacity: 0.35;position: relative;}
    100% {height: 100px;width: 100px;margin-left: -40px;margin-top: -40px;opacity: 0;}
}
#form_datos #formu_datos .formfield_radio{margin-bottom: 20px;}
#form_datos #formu_datos .formfield_radio label{padding-top: 10px;}
#form_datos #formu_datos .formfield_radio .option-input {-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none; margin-bottom: 10px;position: relative;top: 15px;right: 0;bottom: 0;left: 0;height: 20px;width: 20px;transition: all 0.15s ease-out 0s;background: #cbd1d8;border: none;color: #fff;cursor: pointer;display: inline-block;margin-right: 0.5rem;outline: none;position: relative;z-index: 1000;}
#form_datos #formu_datos .formfield_radio .option-input:hover {background: #9faab7;}
#form_datos #formu_datos .formfield_radio .option-input:checked {background: #1EB250;}
#form_datos #formu_datos .formfield_radio .option-input:checked::before {height: 20px;width: 20px;position: absolute;content: '✔';display: inline-block;font-size: 10px;text-align: center;line-height: 20px;}
#form_datos #formu_datos .formfield_radio .option-input:checked::after {-webkit-animation: click-wave 0.65s;-moz-animation: click-wave 0.65s;animation: click-wave 0.65s;background: #1EB250;content: '';display: block;position: relative;z-index: 100;}
#form_datos #formu_datos .formfield_radio .option-input.radio {border-radius: 50%;}
#form_datos #formu_datos .formfield_radio .option-input.radio::after {border-radius: 50%;}
#form_datos #formu_datos input{width: 100%; height: 40px; margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid grey; background-color: rgba(255, 255, 255, 0.8); -webkit-appearance: none; -moz-appearance:textfield;}
#form_datos #formu_datos select {-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;appearance: none;outline: 0;box-shadow: none; background: #ffffff;background-image: none; border: 1px solid grey; border-radius: 5px; }
#form_datos #formu_datos .formfield_select {position: relative;display: block;width: 100%;height: 3em;line-height: 3;background: #ffffff;overflow: hidden;border-radius: .25em;margin-bottom: 10px;}
#form_datos #formu_datos select {width: 100%;height: 100%;margin: 0;padding: 0 0 0 .5em;cursor: pointer;}
#form_datos #formu_datos select::-ms-expand {display: none;}
#form_datos #formu_datos .formfield_select::after {content: '\25BC';position: absolute;top: 0;right: 0;bottom: 0;padding: 0 1em;background: #1EB250;pointer-events: none;}
#form_datos #formu_datos .formfield_select:hover::after {color: #ffffff;}
#form_datos #formu_datos .fomfield_select::after {-webkit-transition: .25s all ease;-o-transition: .25s all ease;transition: .25s all ease;}
#form_datos #formu_datos .login-submit{width: 100%; height: 40px; margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid grey; background-color: rgba(255, 255, 255, 0.8); text-transform: uppercase;}
#form_datos #formu_datos .login-submit:hover{cursor: pointer; background-color: #1EB250; color: #ffffff; border:0; transition: all 1s ease; opacity: 1;}
#form_datos #resultado-calculo{display: none;}
#form_datos h2{ text-align: center; font-size: 30px; color: #1EB250; font-family: "Roboto-Black", sans-serif;}
#form_datos #calculo-entradilla{width: 100%;text-align:center; font-size: 18px; font-weight: bold;}
#form_datos #requerimientos{padding: 15px;}
#form_datos #requerimientos p{margin-bottom: 5px;}
#form_datos .enviar_datos{width: 100%; height: 40px; margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid grey; background-color: rgba(255, 255, 255, 0.8); text-transform: uppercase;}
#form_datos .enviar_datos:hover{cursor: pointer; background-color: #1EB250; color: #ffffff; border:0; transition: all 1s ease; opacity: 1;}
#form_datos footer{bottom: 0;}

/*LISTADO DIETAS */

#dietas_list h1{text-align: center; font-size: 50px; color: #1EB250; font-family: "Roboto-Black", sans-serif;}
#dietas_list .info-nodieta{padding: 15px; margin-bottom: 20px; border: 1px solid #d6e9c6; border-radius: 5px; background-color: #dff0d8; color: #468847; text-align: center;}
#dietas_list h2{text-align: center; font-size: 30px; color: #1EB250; font-family: "Roboto-Black", sans-serif;}
#dietas_list .add_comida input{width: 100%; height: 40px; margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid grey; background-color: rgba(255, 255, 255, 0.8); -webkit-appearance: none; -moz-appearance:textfield;}
#dietas_list .add_comida select {width: 100%;height: 100%;margin:10px 0;padding: 10px;cursor: pointer; border: 1px solid grey; border-radius: 5px; }
#dietas_list .add_comida .login-submit{width: 100%; height: 40px; margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid grey; background-color: rgba(255, 255, 255, 0.8); text-transform: uppercase;}
#dietas_list .add_comida .login-submit:hover{cursor: pointer; background-color: #1EB250; color: #ffffff; border:0; transition: all 1s ease; opacity: 1;}
#dietas_list table{width: 100%;}
#dietas_list table th{border-bottom: 2px solid #9faab7;}
#dietas_list table td{text-align: center; font-size: 18px; padding: 5px;}
#dietas_list table td a{margin: 0 10px; color: #1EB250;}
#dietas_list table td a:hover{opacity: 0.5;}


/* EDITOR DIETAS */

#editor_dieta h1{text-align: center; font-size: 50px; color: #1EB250; font-family: "Roboto-Black", sans-serif;}
#editor_dieta #edit_diet_alim h3{font-size: 25px; color: #1EB250; margin: 15px 0;}
#editor_dieta .warning_scroll{font-size: 12px; color: grey;}
#editor_dieta #edit_diet_alim table{width: 100%;}
#editor_dieta #edit_diet_alim table thead tr{ background-color: #1EB250;}
#editor_dieta #edit_diet_alim table th{border-bottom: 1px solid grey; padding: 5px; color: #ffffff;}
#editor_dieta #edit_diet_alim table td{text-align: center; padding: 5px;}
#editor_dieta #edit_diet_alim hr{height: 2px; background-color: grey;}
#editor_dieta #edit_diet_nums table{width: 100%;}
#editor_dieta #edit_diet_nums table thead th{padding: 5px; color: #ffffff; background-color: #1EB250;}
#editor_dieta #edit_diet_nums table thead .no-color{background-color: transparent;}
#editor_dieta #edit_diet_nums table td{text-align: center; padding: 5px;}
#editor_dieta #edit_diet_nums table .enun_tabla{text-align: left; padding: 5px; background-color: #1EB250; color: #ffffff;}


    /* Formulario de contacto*/
#ventanaContacto .cajaform{width: 100%; background-image: none; }
#ventanaContacto .cajaform input{width: 100%; height: 40px; margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid grey; background-color: rgba(255, 255, 255, 0.8)}
#ventanaContacto .cajaform textarea{border: 1px solid grey; width: 100%; margin-bottom: 10px; padding: 10px; border-radius: 5px;}
#ventanaContacto .cajaform .enviar{margin-right: 5px;}
#ventanaContacto .cajaform .enviar:hover{cursor: pointer; background-color: #1EB250; color: #ffffff; border:0; transition: all 1s ease; opacity: 1;}
#ventanaContacto .cajaform .limpiar:hover{cursor: pointer; background-color: grey; color: #ffffff; border:0; transition: all 1s ease; opacity: 1;}
#ventanaContacto #volver-contact{display: none; text-align: center;}
#ventanaContacto #volver-contact #re-contact{display: block; margin-left: auto; margin-right: auto; border: 1px solid gray; color: gray;}
#ventanaContacto #volver-contact #re-contact:hover{color: #ffffff; border: none;}

/* GRID */
.container{width:1200px; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;}
.contenedor > h1 {text-align:center;font-weight:normal;padding:20px 0;font-size:1.5em}
.contenedor > p {clear:both;text-align:center;font-weight:normal;padding:20px 0;font-size:1.1em}
.contenedor > div {padding:10px; float:left;display:inline;border:1px solid #fff;background:#ddd;text-align:center;font-size:0.70em}
.contenedor > div:hover{background:#ccc}

.col-1 {width:8.33% !important;}
.col-2 {width:16.66% !important;}
.col-3 {width:25% !important;}
.col-4 {width:33.33% !important;}
.col-5 {width:41.66% !important;}
.col-6 {width:50% !important;}
.col-7 {width:58.33% !important;}
.col-8 {width:66.66% !important;}
.col-9 {width:75% !important;}
.col-10 {width:83.33% !important;}
.col-11 {width:91.66% !important;}
.col-12 {width:100% !important;}
[class*="col-"] {float: left;padding: 15px;}
.row:after{content: "";clear: both;display: block;}

/* RESPONSIVE */
/* Media queries */
/*

/*
  ##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .container{width:960px;}
    .col-lg-1 {width:8.33% !important;}
    .col-lg-2 {width:16.66% !important;}
    .col-lg-3 {width:25% !important;}
    .col-lg-4 {width:33.33% !important;}
    .col-lg-5 {width:41.66% !important;}
    .col-lg-6 {width:50% !important;}
    .col-lg-7 {width:58.33% !important;}
    .col-lg-8 {width:66.66% !important;}
    .col-lg-9 {width:75% !important;}
    .col-lg-10 {width:83.33% !important;}
    .col-lg-11 {width:91.66% !important;}
    .col-lg-12 {width:100% !important;}
    .visible-xs{display: none;}

}


/*
  ##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px){
    .container{width:768px;}
    .col-md-1 {width:8.33% !important;}
    .col-md-2 {width:16.66% !important;}
    .col-md-3 {width:25% !important;}
    .col-md-4 {width:33.33% !important;}
    .col-md-5 {width:41.66% !important;}
    .col-md-6 {width:50% !important;}
    .col-md-7 {width:58.33% !important;}
    .col-md-8 {width:66.66% !important;}
    .col-md-9 {width:75% !important;}
    .col-md-10 {width:83.33% !important;}
    .col-md-11 {width:91.66% !important;}
    .col-md-12 {width:100% !important;}
    .visible-xs{display: none;}
    #login h1{font-size: 70px; text-align: center;}
    #login h2{font-size: 25px; text-align: center;}

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
    .container{width:481px;}
    .col-sm-1 {width:8.33% !important;}
    .col-sm-2 {width:16.66% !important;}
    .col-sm-3 {width:25% !important;}
    .col-sm-4 {width:33.33% !important;}
    .col-sm-5 {width:41.66% !important;}
    .col-sm-6 {width:50% !important;}
    .col-sm-7 {width:58.33% !important;}
    .col-sm-8 {width:66.66% !important;}
    .col-sm-9 {width:75% !important;}
    .col-sm-10 {width:83.33% !important;}
    .col-sm-11 {width:91.66% !important;}
    .col-sm-12 {width:100% !important;}
    .visible-xs{display: none;}
    #login h1{font-size: 70px; text-align: center;}
    #login h2{font-size: 25px; text-align: center;}

}

/*
  ##Device = Smartphone mobile
*/

@media (min-width: 320px) and (max-width: 480px) {
    .container{width:320px;}
    .col-xs-1 {width:8.33% !important;}
    .col-xs-2 {width:16.66% !important;}
    .col-xs-3 {width:25% !important;}
    .col-xs-4 {width:33.33% !important;}
    .col-xs-5 {width:41.66% !important;}
    .col-xs-6 {width:50% !important;}
    .col-xs-7 {width:58.33% !important;}
    .col-xs-8 {width:66.66% !important;}
    .col-xs-9 {width:75% !important;}
    .col-xs-10 {width:83.33% !important;}
    .col-xs-11 {width:91.66% !important;}
    .col-xs-12 {width:100% !important;}
    .hidden-xs{display:none !important;}
    .visible-xs{display: block !important;}
    .logo-container{text-align: center;}
    .logo img{width: 40px;}
    .logo p{font-size: 30px;}
    .button{width: 90%;}
    .modal-content{width: 100%;}
    #login header .info-login button{display: block; margin-left: auto; margin-right: auto; float: none; padding: 10px 20px; margin-top: -10px;}
    #login #content-login{width: 100%;}
    #login h1{font-size: 70px; text-align: center;}
    #login h2{font-size: 25px; text-align: center;}
    #login .cajaform{width: 100%;}
    header #nav-button{margin: 15px 0 0 0; padding: 0; font-size: 20px;}
    header #logout{margin: 15px 0 0 0; padding: 0; font-size: 20px;}
    #navMenu{overflow: scroll;}
    #profile .profile-banner .profile-img{margin-top: 10px;}
    #profile .profile-banner .profile-img img{display: block; margin: 0 auto;}
    #profile .profile-banner .profile-img h1{display: block; text-align: center;}
    #editor_dieta .contenedor-tabla{overflow-x: scroll;}
}
