
@font-face {
  font-family: 'FibreVintage';
  src: url('FibreVintage.eot?#iefix') format('embedded-opentype'),  url('FibreVintage.otf')  format('opentype'),
	     url('FibreVintage.woff') format('woff'), url('FibreVintage.ttf')  format('truetype'), url('FibreVintage.svg#FibreVintage') format('svg');
  font-weight: normal;
  font-style: normal;
}
